@use "./mixins.scss" as *;
@use "./typography.scss" as *;
@use "./variables.scss" as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {        
    font-family: "Outfit", "Newsreader";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  
    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
      font-weight: 900;
    }
  }