//Media Break-points
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Colors to be used all throughout the Page
$black-color:#0C1E1A;
$forest-green-color:#1E6655;
$pistachio-color:#EFFAF7;
$sea-green-color:#B7CEC9;
$sage-color:#E4EFEC;
$white-color:#FFFFFF;
