//Colors to be used all throughout the Page
$black-color:#0C1E1A;
$forest-green-color:#1E6655;
$pistachio-color:#EFFAF7;
$sea-green-color:#B7CEC9;
$sage-color:#E4EFEC;
$white-color:#FFFFFF;

//Margin and Padding Increments
$margin-mobile: 1rem;

