@use "../../../styles/partials/global.scss" as *;
@use "../../../styles/partials/mixins.scss" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables" as *;


.gallery {
  display: flex;
  gap: 1rem;
  padding-bottom: 4rem;
  flex-wrap: wrap;
  

  @include tablet {
    justify-content: space-around;
  }

  &.gallery--filtered {
    @include desktop {
      margin-right: 10%;
    }
  }

  &__photo-link {
    text-decoration: none;
    
    @include tablet {
      display: flex;
      justify-content: space-around;
      width: 48%;
    }

    @include desktop {
      width: 32%;

      &.gallery__photo-link--filtered {
        width: 100%;
      }
    }
  }
}

