@use "../../../styles/partials/global.scss" as *;
@use "../../../styles/partials/mixins.scss" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables.scss" as *;


.gallery {
    display: flex;
    gap: 1rem;
    padding-bottom: 4rem;
    flex-wrap: wrap;
  
    @include desktop {
      margin-right: 0%;
  
      &.gallery--filtered {
        margin-right: 28%;
      }
    }  
  }


















































































