@use "../../../styles/partials/global.scss" as *;
@use "../../../styles/partials/mixins.scss" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables.scss" as *;


.snaps {
    border: 1px solid $sea-green-color;
    background-color: $pistachio-color;
    border-radius: 0.5rem;
    font-weight: 700;
  
    @include tablet {
      width: 45%;
  
      @include desktop {
        width: 30vw;
  
        .gallery--filtered & {
          width: 48%;
        }
      }
    }
  
    &__container {
      position: relative;
      

      @include desktop{
        
      
      }
      
    }
  
    &__photographer {
      border-top-left-radius: 0.75rem;
      color: $black-color;
      padding: 0.5rem;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $pistachio-color;
      
    }
  
    &__tag {
      background-color: $white-color;
      padding: 0.5rem 0.5rem;
      border-radius: 0.75rem;
      color: $black-color;
      font-size: 0.75rem;
      align-items: center;
      border: .0625rem solid $sea-green-color;
      font-family: "Outfit";
    }
  
    &__tag-list {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  
    &__image {
      width: 100%;
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
    }
  }


















































































