@use "../../../styles/partials/global.scss" as *;
@use "../../../styles/partials/mixins.scss" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables.scss" as *;


.footer {
      padding-top: 2rem;
      position: relative;
    
      @include desktop {
        display: flex;
        justify-content: space-between;
      }
    
      &__container {
        @include tablet {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
    
        @include desktop {
          margin-bottom: 8rem;
        }
      }
    
      &__menu {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
    
        @include tablet {
          padding-top: 0;
          padding-bottom: 12rem;
          flex-direction: row;
          width: 50%;
        }
      }
    
      &__link {
        font-family: "Outfit";
        font-weight: 800;
        color: $black-color;
        text-decoration: none;
      }
    
      &__social {
        padding: 2rem 0;
        height: 5.8rem;
        display: flex;
        gap: 1rem;
        align-items: center;
    
        @include desktop {
          padding: 0;
          align-items: flex-start;
        }
    
        &-link {
          text-decoration: none;
          cursor: pointer;
        }
      }
    
      &__social--icon {
        fill: $forest-green-color;
        width: 5vw;
    
        @include tablet {
          width: 4.5vw;
        }
    
        @include desktop {
          width: 1.95vw;
        }
      }
    
      &__legal {
        display: flex;
        align-items: center;
        color: $sea-green-color;
        font-size: 0.9375rem;
        padding-bottom: 2rem;
        gap: 1rem;
    
        @include tablet {
          padding-bottom: 3.5rem;
        }
    
        @include desktop {
          padding-bottom: 3.5rem;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
    
    .brand {
      @include desktop {
        width: 65vw;
        }
    }