@use "../../../styles/partials/global.scss" as *;
@use "../../../styles/partials/mixins.scss" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables.scss" as *;

.filter{
    padding: 1rem;
    background-color: $sage-color;
    margin: 0 -3%;


&__header{
 padding-bottom: 1rem;
 font-weight: 900;
 font-family: "Outfit";
}

&__tags{

}


}




