@use "../../../styles/partials/global.scss" as *;
@use "../../../styles/partials/mixins.scss" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables.scss" as *;

.filter{
    padding: 1rem;
    background-color: $sage-color;
    margin: 0 -3%;


&__header{
 padding-bottom: 1rem;
 font-size: 1.125rem;
 line-height: 1.4375rem;
 font-weight: 500;

 @include tablet{
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 500;
 }
}

&__tags{
display:flex;
flex-wrap: wrap;
gap: 0.6rem;
}

&__button{
padding:0.5rem 1rem;
border-radius: 0.75rem;
border: .0938rem solid $forest-green-color;
color:$forest-green-color;
font-family: "Outfit", "Newsreader";
font-size:0.75rem;
line-height: 0.9375rem;
font-weight: 500;

background-color: $white-color;

    &--active{
    background-color: $forest-green-color;
    color: $white-color;
    
    @include desktop{
        width: 20
    }
    
    }
}
}




















































// .filter {
//     padding: 1rem;
//     background-color: #e4efec;
//     margin: 0 -3%;
  
//     &__tags {
//       display: flex;
//       flex-wrap: wrap;
//       gap: 0.6rem;
  
//       @include desktop {
//         width: 30%;
//       }
//     }
  
//     &__button {
//       padding: 0.5rem 1rem;
//       border-radius: 0.75rem;
//       border: 0.0625rem solid #1e6655;
//       color: #1e6655;
//       font-weight: 600;
//       background-color: #ffffff;
  
//       &--active {
//         background-color: #1e6655;
//         color: #ffffff;
//       }
//     }
  
//     &__header {
//       padding-bottom: 1rem;
//       font-weight: 900;
//       font-family: "Outfit";
//     }
//   }




