@use "../../../styles/partials/global.scss" as *;
@use "../../../styles/partials/mixins.scss" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables.scss" as *;

.filter{
    padding: 1rem;
    background-color: $sage-color;
    margin: 0 -3%;


&__header{
 padding-bottom: 1rem;
 font-weight: 900;
 font-family: "Outfit";
}

&__tags{
display:flex;
flex-wrap: wrap;
gap: 0.6rem;
}

&__button{
padding:0.5rem 1rem;
border-radius:0;
border:0;
color:$forest-green-color;
font-weight: 600;
background-color: $white-color;

    &--active{
    background-color: $forest-green-color;
    color: $white-color;
    }
}
}




















































// .filter {
//     padding: 1rem;
//     background-color: #e4efec;
//     margin: 0 -3%;
  
//     &__tags {
//       display: flex;
//       flex-wrap: wrap;
//       gap: 0.6rem;
  
//       @include desktop {
//         width: 30%;
//       }
//     }
  
//     &__button {
//       padding: 0.5rem 1rem;
//       border-radius: 0.75rem;
//       border: 0.0625rem solid #1e6655;
//       color: #1e6655;
//       font-weight: 600;
//       background-color: #ffffff;
  
//       &--active {
//         background-color: #1e6655;
//         color: #ffffff;
//       }
//     }
  
//     &__header {
//       padding-bottom: 1rem;
//       font-weight: 900;
//       font-family: "Outfit";
//     }
//   }




