@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables.scss" as *;

.app {
  background-color: #effaf7;
  min-height: 100vh;
  padding-right: 3%;
  padding-left: 3%;
  color: #0c1e1a;

  &__layout {
    @include desktop {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__content {
    flex: 1;
  }
}

.brand {
  font-size: 2rem;
  line-height: 2.375rem;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  font-family: "Newsreader";

  @include tablet {
    color: $black-color;
  }

  @include desktop {
    color: $black-color;

    &:hover {
      cursor: pointer;
    }
  }
}
